<main>
    <header><h1 class="page-header">Contact us</h1></header>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail alert-info">
            <img src="/public/images/phc.jpg" alt="Po-Hsun Chen" class="img-circle contact-img">
            <div class="caption">
                <h3>Po-Hsun Chen</h3>
                <p>Email: pchen11@stevens.edu</p>
                <p><a href="#" class="btn btn-primary" role="button">Personal Website</a></p>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail alert-info">
            <img src="/public/images/bjc.jpg" alt="Ben-Jen Cheng" class="img-circle contact-img">
            <div class="caption">
                <h3>Ben-Jen Cheng</h3>
                <p>Email: bcheng2@stevens.edu</p>
                <p><a href="#" class="btn btn-primary" role="button">Personal Website</a></p>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail alert-info">
            <img src="/public/images/howeic.jpg" alt="Hao-Wei Chen" class="img-circle contact-img">
            <div class="caption">
                <h3>Hao-Wei Chen</h3>
                <p>Email: hchen55@stevens.edu</p>
                <p><a href="#" class="btn btn-primary" role="button">Personal Website</a></p>
            </div>
            </div>
        </div>
    </div>
</main>