<main>
	{{#if user}}
	<button id="postFound" class="btn btn-primary" onclick="postFound()">Report a Found</button>
	{{/if}}
	<div id="tabList" class="list-group">
		{{#each found}}
		<a href="/found/{{_id}}" class="list-group-item list-group-item-info">{{title}}</a> {{/each}}
	</div>
</main>