<main>
    <header><h1 class="page-header">Home</h1></header>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Lost</a></li>
        <li><a href="#">Found</a></li>
        <li><a id="tabMap" href="/map">Map</a></li>
    </ul>
    <div id="tabContent"></div>
</main>