<main>
    <header><h1 class="page-header">Home</h1></header>
    <ul class="nav nav-tabs">
        <li><a id="tabLost" href="/lost">Lost</a></li>
        <li><a id="tabFound" href="/found">Found</a></li>
        <li><a id="tabMap" href="/map">Map</a></li>
    </ul>
    <div id="tabContent"></div>
    <script>
        $(function(){
            {{#if found}}
            $('#tabFound').trigger('click');
            {{else}}            
            $('#tabLost').trigger('click');
            {{/if}}
        })
    </script>
</main>