<main>
    <header><h1 class="page-header">Login</h1></header>

    <form action="login" method="POST">
        <div class="form-group">
            <label for="username">E-mail Address</label>
            {{!--change username to email--}}
            <input id="username" name="username" class="form-control" autofocus value="1@1.com"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" class="form-control" value="1"/>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
</main>